$notification-width: 384px;
$notification-padding-vertical: 16px;
$notification-padding-horizontal: 24px;
$notification-padding: $notification-padding-vertical $notification-padding-horizontal;
$notification-margin-bottom: 16px;
$shadow-color: rgba(0, 0, 0, 0.15);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

$blue-6: #1890ff;
$green-6: #52c41a;
$red-6: #f5222d;
$gold-6: #faad14;

$primary-color: $blue-6;
$info-color: $blue-6;
$success-color: $green-6;
$processing-color: $blue-6;
$error-color: $red-6;
$highlight-color: $red-6;
$warning-color: $gold-6;
$normal-color: #d9d9d9;

.notification-box {
  position: fixed;
  width: $notification-width;
  max-width: calc(100vw - 32px);
  margin-right: 24px;
  z-index: 1005;
  right: 0;
  top: 0;

  &.topLeft,
  &.bottomLeft {
    left: 0;
    right: unset;
    margin-right: 0;
    margin-left: 24px;

    .fade-enter,
    .fade-appear {
      animation-name: NotificationLeftFadeIn;
    }
  }

  &.topLeft,
  &.topRight {
    margin-top: 24px;
    margin-bottom: 0;
  }

  &.bottomLeft,
  &.bottomRight {
    top: unset;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .notice {
    position: relative;
    margin-bottom: $notification-margin-bottom;
    padding: $notification-padding;
    overflow: hidden;
    line-height: 1.5;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px $shadow-color;

    .message {
      display: inline-block;
      margin-bottom: 8px;
      color: fade(#000, 85%);
      font-size: 16px;
      line-height: 24px;

      &.single-line-auto-margin {
        display: block;
        width: calc(#{($notification-width - $notification-padding-horizontal)} * 2 - 24px - 48px - 100%);
        max-width: 4px;
        background-color: transparent;
        pointer-events: none;
        &::before {
          display: block;
          content: '';
        }
      }
    }

    .description {
      font-size: 14px;
    }

    .closable .message {
      padding-right: 24px;
    }

    .with-icon .message {
      margin-bottom: 4px;
      margin-left: 48px;
      font-size: 16px;
    }

    .with-icon .description {
      margin-left: 48px;
      font-size: 14px;
    }

    .icon {
      position: absolute;
      margin-left: 4px;
      font-size: 24px;
      line-height: 24px;

      &-success {
        color: $success-color;
      }
      &-info {
        color: $info-color;
      }
      &-warning {
        color: $warning-color;
      }
      &-error {
        color: $error-color;
      }
    }

    .close {
      position: absolute;
      top: 12px;
      right: 16px;
      color: fade(#000, 45%);
      outline: none;
      cursor: pointer;
      > i {
        background-color: fade(#000, 45%);
        border-radius: 50%;
      }

      &:hover {
        color: shade(fade(#000, 45%), 40%);
        > i {
          background-color: shade(fade(#000, 45%), 40%);
        }
      }
    }
  }

  .notification-fade-effect {
    animation-duration: 0.24s;
    animation-timing-function: $ease-in-out;
    animation-fill-mode: both;
  }

  .fade-appear,
  .fade-enter {
    //opacity: 0;
    @notification-fade-effect();

    animation-play-state: paused;
  }

  .fade-leave {
    @notification-fade-effect();

    animation-duration: 0.2s;
    animation-play-state: paused;
  }

  .fade-enter,
  .fade-appear {
    animation-name: NotificationFadeIn;
    animation-play-state: running;
  }

  .fade-leave {
    animation-name: NotificationFadeOut !important;
    animation-play-state: running;
  }
}

.title {

}

.description {

}


@keyframes NotificationFadeIn {
  0% {
    left: $notification-width;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes NotificationLeftFadeIn {
  0% {
    right: $notification-width;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes NotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: $notification-margin-bottom;
    padding-top: $notification-padding;
    padding-bottom: $notification-padding;
    opacity: 1;
  }
  100% {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
